.cow__table-layout {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 200px;
  font-size: 14px;
  overflow: hidden;
}

.cow__table-border {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.cow__table-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #068df5;
  z-index: 2000;
}

.cow__table--no-select {
  user-select: none;
}

.cow__table-scrollbar--x {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cow__table-scrollbar--y {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  box-sizing: border-box;
}

.cow__table--loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4000;
}

.cow__table--pagination {
  text-align: right;
}

.cow__table--message {
  padding: 10px 0;
  text-align: center;
  color: rgba(0, 0, 0, .4);
}